

/* Onsen_UIでのcssコード */

#push-button {
  margin-top: 50px;
  margin-bottom: 250px;
  color:black;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}



#pop-button {
  margin-top: 50px;
  margin-bottom: 250px;
  color:black;
  font-family: 'HGP行書体';
  font-size: 32px;
  border-radius: 30px;
}

.button {
  background-color: rgb(0, 246, 53);
}


/* page1.html(トップページ)のCSS ーーーーーーーーーーーーーー*/

.content1 {
  background-image: url(../img/haikei2.jpg);
  background-size: cover;
}

.top {
  font-size: 80px;
  margin: 0px 0px 0px 0px;
  padding-top: 10px;
  font-family: 'HGP行書体';
  color: rgb(0, 246, 53);
  writing-mode: vertical-rl;
  margin: 0 auto;
}

#push-button1 {
  margin-top: 50px;
  color:black;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button2 {
  margin-top: 50px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button3 {
  margin-top: 50px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button4 {
  margin-top: 50px;
  color: #000000;
  margin-bottom: 400px;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}


/* 一字決まり札 page2.htmlのCSS ーーーーーーーーーーーーーー*/

.content2 {
  background-image: url(../img/説明背景.jpeg);
  background-size: cover;
  /* padding: 100% 0; */
}

.content2 p {
  margin: 0px;
  margin-bottom: 50px;
  padding-top: 30%;
  font-size: 40px;
  color: black;
  font-family: 'HGP行書体';
}

.content2 h3 {
  color:black;
  font-size: 28px;
  font-family: 'HGP行書体';
  line-height: 50px;
  padding-top: 20px;
  margin: 0px;
}

span {
  color: rgb(255, 0, 0);
  font-size: 40px;
  font-family: 'HGP行書体';
}



/* 一字決まり札 page3 */

.content0 {
  background-image: url(../img/お花１.jpg);
  height: 105%;
  background-size: cover;
}

#push-button_31 {
  margin-top: 50px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button_32 {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button_33 {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button_34 {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button_35 {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button_36 {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button_37 {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

.section {
  float: right;
}







/* 一字決まり札 page4~9.htmlのCSS ーーーーーーーーーーーーーー*/

.content {
  background-image: url(../img/背景５.jpg);
  background-size: cover;
}

.fuda {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.col {
  /* background: #ffffff;; */
  border-bottom: double thick black;
}

.content h1 {
  font-family: 'HGP行書体';
  font-size: 32px;
  font-weight: 900;
}

.content h2 {
  font-family: 'HGP行書体';
  font-size: 32px;
  color:black;
  font-weight: 900;
}

.content h4 {
  margin: 0px;
  font-weight: 900;
}

/* span {
  color: rgb(255, 0, 0);
  font-size: 40px;
  font-family: 'HGP行書体';
} */

.spancolor {
  color:black;
  padding: 0;
  font-size: 30px;
  font-weight: 900;
}

/* 面白覚え札 page_A0のCSS */

#push-button_A1 {
  margin-top: 50px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button_A2 {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button_A3 {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button_A4 {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button_A5 {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button_A6 {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button_A7 {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

#push-button_A8 {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #000000;
  font-size: 32px;
  font-family: 'HGP行書体';
  border-radius: 30px;
}

.section_2 {
  float: right;
}





/* 面白い覚え札 page_A1～A8のCSS----------------------------- */

/* .content_A {
  background-image: url(../img/背景５.jpg);
  background-size: cover;
}

.content_A h1 {
  font-family: 'HGP行書体';
  font-size: 32px;
  font-weight: 900;
}


.content_A > h2 {
  color:black;
  font-size: 30px;
  font-weight: 900;
  padding-top: 100px;
  font-family:  'HGP行書体';
  margin: 0px;
} */


/* jQuery -----------------------------------------------------*/

.btn2 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 50px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.btn2:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

#text {
  display:none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#text1 {
  display: none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#text2 {
  display: none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#text3 {
  display: none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#text4 {
  display: none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#text5 {
  display: none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#text6 {
  display: none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#text7 {
  display: none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#hide-text {
  font-size: 24px;
  font-weight: 900;
}

#hide-text1 {
  font-size: 24px;
  font-weight: 900;
}

#hide-text2 {
  font-size: 24px;
  font-weight: 900;
}

#hide-text3 {
  font-size: 24px;
  font-weight: 900;
}

#hide-text4 {
  font-size: 24px;
  font-weight: 900;
}

#hide-text5 {
  font-size: 24px;
  font-weight: 900;
}

#hide-text6 {
  font-size: 24px;
  font-weight: 900;
}

#hide-text7 {
  font-size: 24px;
  font-weight: 900;
}

#textA {
  display:none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#textB {
  display: none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#textC {
  display: none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#textD {
  display: none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#textE {
  display: none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#textF {
  display: none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#textG {
  display: none;
  background: #fff;
  font-family:  'HGP行書体';
  color: red;
  font-size: 32px;
  font-weight: 900;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}

#hide-textA {
  font-size: 24px;
  font-weight: 900;
}

#hide-textB {
  font-size: 24px;
  font-weight: 900;
}

#hide-textC {
  font-size: 24px;
  font-weight: 900;
}

#hide-textD {
  font-size: 24px;
  font-weight: 900;
}

#hide-textE {
  font-size: 24px;
  font-weight: 900;
}

#hide-textF {
  font-size: 24px;
  font-weight: 900;
}

#hide-textG {
  font-size: 24px;
  font-weight: 900;
}


/* ランダムクイズ  page_AのCSS-------------------------------- */

.content3 {
  background-image: url(../img/たたみ２.jpg);
  background-size: cover;
  padding-top: 20px;
  height: 100%;
}

/* クイズ画面のCSSコード -------------------------------------*/

#question {
  margin-bottom: 20px;
  font-weight: bold;
  border: 3px solid #279C56;
  background-color: #fff;
  /* height: 400px; */
}

#choices {
  list-style: none;
  padding: 0px;
  /* margin-bottom: 16px; */
}

#choices > li {
  border: 3px solid #279C56;
  border-radius: 4px;
  /* padding: 10px; */
  margin: 12px;
  cursor: pointer;
  font-family: 'HGP行書体';
  font-size: 24px;
  background-color: #fff;
  /* height: 300px; */
}


#choices > li:hover {
  background: #f8f8f8;
}

#btn.disabled {
  background: #cccccc;
  box-shadow: 0 4px 0 #bbbbbb;
  opacity: 0.7;
  margin-top: 40px;
}

#choices > li.correct {
  background: #d4edda;
  /* border-color: #c3e6cb; */
  color: #155724;
  font-weight: bold; 
   margin: 0px;
}

#choices > li.wrong {
  background: #f8d8da;
  /* border-color: #f5c6cb; */
  color: #721;
  font-weight: bold;
  margin: 0px;
}

#choices > li.correct::after {
  content: "〇";
  font-size: 18px;
}

#choices > li.wrong::after {
  content: "✖";
  font-size: 18px;
}

.container {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 100px;
  /* background-color: rgb(108, 255, 115); */
  height: 100%;
  border-radius: 4px;
  padding: 15px;
  position: relative;
}

#result > p {
  font-size: 32px;
  font-family: 'HGP行書体';
}

#btn, #result > a {
  background: #3498db;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 0 #2880b9;
  margin-top: 40px;
}

#result > a {
  display: block;
  text-decoration: none;
}

#result {
  position:absolute;
  width: 300px;
  background: #defdee;
  padding: 30px 20px 30px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 50px;
  left: 0;
  right: 0px;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  transition: 1.0s;
}

#result > h1 {
  font-size: 32px;
  font-family: 'HGP行書体';
}

#result.hidden {
  transform:translateY(-1000px);
} 

#bang {
  color: #000000;
  font-size: 28px;
  font-family: 'HGP行書体';
  margin: auto;
  margin-bottom: 10px;
}

  /* .vertical {
    writing-mode: vertical-rl;
    margin: 0 auto;
  } */


/* クイズページのresurt画面 ----------------------------------*/
.p1  {
  color: #000000;
  font-size: 28px;
  font-family: 'HGP行書体';
  margin: auto;
  /* background: #ffffff; */
}

.p2 {
  color:rgb(255, 0, 212);
  margin: 0;
  padding: 0 40px;
  font-size: 40px;
  line-height: 2em;
}

.content3 h4 {
  font-size: 40px;
  font-family: 'HGP行書体';
}

#pop-button0 {
  margin-top: 5px;
  margin-bottom: 10px;
  color:black;
  font-family: 'HGP行書体';
  font-size: 32px;
  border-radius: 30px;
}

/* ---------------------------------------------------------- */



label {
  font-family: 'HGP行書体';
}




























































































































